{% extends "base.html" %}
   {% block main %}
<main class="container mt-3">
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4 text-{{ goalstyle }}"><strong><i class="{{ goalicon }}"></i> Преподаватели
        {{ goaldesc|lower }}</strong></h1>

    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 m-auto">
            {% for teacher in teachers|sort(attribute="rating",reverse=true) %}
                <div class="card mb-4 border-0">
                    <div class="card-body alert alert-{{ goalstyle }}">
                        <div class="row">
                            <div class="col-3"><img alt="" class="img-fluid" src="{{ teacher.picture }}"></div>
                            <div class="col-9">
                                <p class="float-right">Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} руб./час</p>
                                <h2 class="h4">{{ teacher.name }}</h2>
                                <p>{{ teacher.about|truncate(170) }}</p>
                                <a class="btn btn-outline-{{ goalstyle }} btn-sm mr-3 mb-2" href="/profiles/{{ teacher.id }}/">Показать
                                    информацию и расписание</a>

                            </div>
                        </div>
                    </div>
                </div>{% endfor %}
        </div>
    </div>
{% include 'recomendation.html' %}
</main>
{% endblock %}